section{
    padding-top: 5rem;    
    padding-bottom: 5rem;

    &.gallery-section{
        // padding-top: 5rem;    
        // padding-bottom: 5rem;
        background-color: #333;
    }
    // &.form-section{        
    //     padding-top: 5rem;    
    //     padding-bottom: 5rem;
    // }
}

.btn-show{
    display: inline-block;
}

.btn-hide{
    display: none;
}

.alert-danger {
    padding: 2px 8px;
    border-radius: 4px;
}