section{
    padding-top: 5rem;    
    padding-bottom: 5rem;

    &.gallery-section{
        // padding-top: 5rem;    
        // padding-bottom: 5rem;
        background-color: #333;
    }
    // &.form-section{        
    //     padding-top: 5rem;    
    //     padding-bottom: 5rem;
    // }
}