.carousel, .carousel-inner, .carousel-item {
    height: 100%;
}

.slider-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 70px 20px;
    text-align: center;
    color: $white;

    h4 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 2rem;
        padding: 0 2rem;

        a {
            color: $white;
            position: relative;

            &::before{
                background: #fff;
                width: 68px;
                height: 4px;
                overflow: hidden;
                margin: 0 0 0 -34px;
                transition: 0.8s;
                pointer-events: none;
                position: absolute;
                top: -16px;
                left: 50%;
                content: '';
            }
        }
    }

    > a {
        color: $white;
        position: relative;

        &::before{
            background: #fff;
            width: 68px;
            height: 4px;
            overflow: hidden;
            margin: 0 0 0 -34px;
            opacity: 0.2;
            filter: alpha(opacity=20);
            transition: 0.8s;
            pointer-events: none;
            position: absolute;
            top: auto;
            bottom: -9px;
            left: 50%;
            content: '';
        }
    }

    &:hover {
        h4, a {
            transition: all .8s;
            color: #333;
        }

        a::before{
            background: #333;
            transition: 0.4s;
        }
    }
}
.s-image-wrapper{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.tile-bg-1{
    background: #5da7f0;
}
.tile-bg-2{
    background: #334878;
}
.tile-bg-3{
    background: #829c53;
}
.tile-bg-4{
    background: #e8be6c;
}

// OverWrite library scss

.carousel-control-prev {
    left: -55px;
}

.carousel-control-next {
    right: -55px;
}

.carousel-control.right, 
.carousel-control-next,
.carousel-control.left, 
.carousel-control-prev {
    &:hover{
        background-image: none !important;
    }
}