@import './variables';
@import './header';
@import './footer';
@import './landing';
@import './headerNavbar';
@import './homeCarousel';


body{
 font-family: 'Roboto Condensed';
}

.pt-1 {
    padding-top: .25rem;
  }
  
  .bg-black {
    background-color: $black;
  }

.customHeading{
  text-transform: uppercase;
  font-weight: 700;
}

a{
  text-decoration: none;
}